.reset-section {
    // @include childCenter;
    // background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width : 100%;
    min-height : 100vh;
    padding-top: 200px;
    // &-title {
    //     width :50%;
    //     margin: 20px auto;
    //     text-align: center;
    //     font-weight: bold;
    //     font-size: 1.2rem;
    // }
}