.appointments {
    &__title {
        font-size: 1.2rem;
        margin-top: 60px;
        margin-bottom:30px;
        text-align: center;
    }
    &__err {
        padding : 10px 20px;
        font-size: 0.9rem;
        width : 100%;
        margin:0 auto 10px;
        color : red;
        background-color:rgba(255, 0, 0, 0.403);
        border-radius: 4px;
        text-align: center;
    }
    &__table {
        table-layout: fixed;
        min-width:100%;
        border-collapse: collapse;
        font-size: 0.8rem;
        thead {
            background-color: $blue;
            border: solid 1px $black;
        }
        th {
            min-width: 120px;
            padding: 2px 5px;
            border: solid 1px $black;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    &__event, &__form {
        td {
            text-align: center;
            border: solid 1px $black;
            padding: 2px 5px;
            word-wrap: break-word;
        }
        select {
            width:150px;
        }
    }
    &__event-date-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 290px;
        input[type="date"] {
            width: 150px;           
        }
    }
    &__event-btn-container,&__form-btn-container {
        display: flex;
        button {
            margin-left: 5px;
        }
    }
    &__btn-container {
        text-align: center;
        margin-top: 20px;
        button {
            margin-left: 5px;
        }

    }
}