.dashboard {
  width:90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.dashboard-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.dashboard-card {
  height:300px;
  width:30%;
  border: solid 1px $grey;
  border-radius: 6px;
  background-color: $white;
  padding: 10px;
  &__title {
    text-align: center;
    font-weight: bold;
  }
}