.dashboard {
  width:90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.dashboard-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.dashboard-card {
  border: solid 1px $grey;
  border-radius: 6px;
  background-color: $white;
  padding: 10px;
  width: 90%;
  margin:0 auto;
  font-size: 0.85rem;
  label {
    font-weight: bold;
  }
  &__title {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }
  &__content {
    display: flex;
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    width:90%;
    margin: 20px auto ;
    label, input {
      margin-right: 10px;
    }
  }
}