.login-newcard {
    position: absolute;
    top: 12%;
    right: 8%;
    &__title {
        font-family: $font1;
        font-style: italic;
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 32px;
    }
}
.login-form {
    width:70%;
    margin-left:auto;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto 8px;
        // width : 70%;
        label {
            font-weight: bold;
        }
        input {
            background:transparent;
            outline-color: $blue2;
        }
    }
    &__row-radio{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // width : 70%;
        margin : 0 auto 20px;
        &-item {
            display: flex;
            align-items: center;
            input[type="radio"] {
                margin-right: 8px;
                opacity:none;
            }
            label {
                font-weight: bold;
            }
        }
    }
    &__btn-container{
        margin-top: 32px;
        text-align: center;
        margin-bottom: 8px;
        button {
            width: 100%;
        }
    }
}
.login__err {
    font-size: 0.8rem;
    color : red;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
}
.login-forgot {
    font-size: 0.7rem;
    text-align: end;
    padding : 0;
}