.messages-container {
    height:80vh;
    border:solid 0.5px $grey;
    border-radius:4px;
    width:98%;
    margin: 0 auto;
}
.messages-toggle {
    padding: 5px 10px;
    border-radius: 4px;
    border : solid 1px $grey;
    font-size: 0.9rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 14%;
    align-items: center;
    margin:0 auto 10px;
    &__radio {
        display: flex;
        align-items:center;
        label {
            margin-left: 5px;
        }
    }
}
.messages-toolbar {
    margin: 0 auto;
    height: 7%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $blue;
    border-radius: 4px 4px 0 0;
    &__title {
        width: 10%;
        font-size: 1.2rem;
        font-weight: bold;
    }
    input {
        width: 60%;
        font-size: 0.9rem;
    }
    &__btns {
        width:25%;
        display: flex;
        justify-content: flex-end;
        button {
            margin-right: 5px;
        }
    }
}
.messages-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    height:93%;
    &__leftbar {
        width : 10%;
        height: 100%; 
        background: rgb(238, 238, 238);
        overflow:scroll;
        ul {
            font-size: 0.9rem;
        }
    }
    &__category {
        padding: 4px 10px;
        width: 100%;
        cursor: pointer;
        &:hover {
            background: $orange;
        }
        &--active {
            font-weight: bold;
            background: $orange;
        }
    }
    &__box {
        background-color: $white;
        width: 90%;
        height: 100%; 
        overflow:scroll;
        position:relative;
        p {
            margin-top: 20px;
            font-size: 0.9rem;
            text-align: center;
        }
    }
}
.messages-overview {
    &__toolbar {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 0.5px $grey;
        font-size: 0.85rem;
        padding : 5px;
        font-weight: bold;
    }
    &__from {
        text-align:center;
        width: 20%;
    }
    &__subject {
        text-align:center;
        width: 50%;
    }
    &__patient {
        text-align:center;
        width: 13%;
    }
    &__date {
        text-align:center;
        width: 17%;
        &--external {
            width: 30%;
        }
    }
}
.message-thumbnail {
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    border-bottom: solid 0.5px $grey;
    padding: 0 5px;
    &--unread {
        font-weight: bold;
    }
    &__checkbox {
        width:3%;
    }
    &__link {
        width : 67%;
        cursor:pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &--external {
            width : 70%;
        }
    }
    &__author {
        width: 35%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 10px;
    }
    &__sample {
        width: 65%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: 20px;
        padding-right: 10px;
    }
    &__patient {
        width: 13%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
    }
    &__patient-link {
        text-decoration: underline;
    }
    &__date {
        width: 15%;
        text-align: center;
        &--external {
            width: 25%;
        }
    }
    &__trash {
        cursor:pointer;
        width: 2%;
    }
}
.message-detail {
    &__content {
        margin-top: 0;
    }
    &__toolbar {
        padding:5px;
        background: $white;
        border-bottom: solid 0.5px $grey;
        display: flex;
        align-items: center;
        position: sticky;
        justify-content: space-between;
        position:sticky;
        top:0;
        z-index:10;
        width:auto;
    }
    &__arrow {
        width: 5%;
    }
    &__subject {
        font-size: 0.9rem;
        width:50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__patient {
        width: 40%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 0.8rem;
        button {
            margin-left: 10px;
        }
    }
    &__patient-link {
        text-decoration: underline;
    }
    &__trash {
        width: 5%;
        cursor:pointer;
        text-align:end;
        font-size: 0.8rem;
    }
    &__btns {
        padding : 20px;
        button {
            margin-left: 5px;
        }
    }
}
.messages-print {
    &__container {
        padding:40px;
    }
    &__section {
        print-color-adjust: exact;
        border-radius: 4px;
        border:  solid 0.3px $grey;
        overflow: hidden;
    }
    &__subject, &__patient {
        border-bottom: solid 0.3px $grey;
        height: 30px;
        font-size: 0.9rem;
        background-color: $blue;
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
}
.message {
    padding : 20px;
    border-bottom: solid 0.5px rgb(204, 204, 204);
    &__title {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
    }
    &__author {
        font-weight: bold;
    }
    &__date {
        width:28%;
        text-align: right;
    }
    &__subject {
        border-bottom: solid 0.3px $grey;
        height: 30px;
        display: flex;
        align-items: center;
        input {
            outline: none;
            width: 92%;
        }
    }
    &__subtitle {
        font-size: 0.6rem;
    }
    &__body {
        padding:20px 20px 0;
        font-size: 0.8rem;
        white-space: pre;
    }
}
.message-attachments {
    display:flex;
    padding:15px;
    flex-wrap: wrap;
}
.message-attachment {
    &__card {
        border: solid 0.5px $grey;
        width: 30%;
        margin: 10px 5px 0;
    }
    &__thumbnail {
        height: 80px; 
        overflow: hidden;
        position:relative;
        cursor:pointer;
        iframe {
            border:none;
            cursor:pointer;
        }
    }
    &__footer {
        background: rgb(154, 154, 154);
        padding: 5px;
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
    }
    &__title {
        display:flex;
        justify-content: space-between;
        align-items: center;
        p {
            margin-top: 0;
            font-size: 0.7rem;
        }
    }
    &__btn {
        button {
            font-size: 0.65rem;
        }
    }
}
.new-message {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 5px;
    margin-top: 30px;
    &__contacts {
        width:24%;
        border: solid 0.3px $grey;
        border-radius: 4px;
        margin : 20px auto ;
        font-size: 0.8rem;
        padding : 5px 10px;
        &--patient {
            width: 20%;
        }
    }
    &__form {
        min-height: 250px;
        border: solid 0.3px $grey;
        border-radius: 4px;
        padding : 0 10px;
        margin : 20px auto ;
        width : 50%;
        font-size: 0.8rem;
        &--patient {
            width:75%;
        }
    }
    &__recipients{
        border-bottom: solid 0.3px $grey;
        height: 30px;
        display: flex;
        align-items: center;
        input {
            outline: none;
            width: 90%;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__subject{
        border-bottom: solid 0.3px $grey;
        height: 30px;
        display: flex;
        align-items: center;
        input {
            outline: none;
            width: 92%;
        }
    }
    &__patient{
        border-bottom: solid 0.3px $grey;
        height: 30px;
        display: flex;
        align-items: center;
        input {
            outline: none;
            width: 80%;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__attach{
        border-bottom: solid 0.3px $grey;
        min-height: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 5px;
        padding-bottom: 5px;
        i {
            cursor: pointer;
            margin-left: 5px;
        }
    }
    &__body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        textarea {
            border : none;
            outline: none;
            padding: 10px 0;
            width: 100%;
            min-height: 300px;
        }
    }
    &__btns {
        border-top: solid 0.3px $grey;
        height: 40px;
        display: flex;
        align-items: center;
        button {
            margin-right: 5px;
        }
    }
    &__patients {
        width: 24%;
        border: solid 0.3px $grey;
        border-radius: 4px;
        margin : 20px auto ;
        font-size: 0.8rem;
        padding : 5px 10px;
    }
}
.reply-message {
    &__form {
        min-height: 250px;
        border: solid 0.3px $grey;
        border-radius: 4px;
        padding : 0 10px;
        margin : 20px auto ;
        width : 90%;
        font-size: 0.8rem;
    }
    &__title {
        display: flex;
        align-items: center;
        border-bottom: solid 0.3px $grey;
        height: 40px;
        display: flex;
        align-items: center;
        p {
            margin: 0;
            padding : 0;
            font-size: 0.8rem;
        }
    }
    &__subject {
        border-bottom: solid 0.3px $grey;
        height: 40px;
        display: flex;
        align-items: center;
        input {
            outline: none;
            width: 92%;
        }
    }
    &__patient {
        border-bottom: solid 0.3px $grey;
        height: 40px;
        display: flex;
        align-items: center;
        input {
            outline: none;
            width: 92%;
        }
    }
    &__body {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        textarea {
            border : none;
            outline: none;
            padding: 10px 0;
            width: 100%;
            min-height: 200px;
        }
    }
    &__history {
        display: flex;
        flex-direction: column;
    }
    &__btns {
        border-top: solid 0.3px $grey;
        height: 40px;
        display: flex;
        align-items: center;
        button {
            margin-left: 5px;
        }
    }
    &__attach {
        border-bottom: solid 0.3px $grey;
        min-height: 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 10px;
        i {
            cursor: pointer;
            margin-left: 5px;
        }
    }
}
.forward-message {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 5px;
    margin-top: 30px;
    &__contacts {
        width:20%;
        border: solid 0.3px $grey;
        border-radius: 4px;
        margin : 20px auto ;
        font-size: 0.8rem;
        padding : 5px 10px;

    }
    &__form {
        min-height: 250px;
        border: solid 0.3px $grey;
        border-radius: 4px;
        padding : 0 10px;
        margin : 20px auto ;
        width : 75%;
        font-size: 0.8rem;
    }
    &__recipients{
        border-bottom: solid 0.3px $grey;
        height: 30px;
        display: flex;
        align-items: center;
        input {
            outline: none;
            width: 90%;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__subject{
        border-bottom: solid 0.3px $grey;
        height: 30px;
        display: flex;
        align-items: center;
    }
    &__patient{
        border-bottom: solid 0.3px $grey;
        height: 30px;
        display: flex;
        align-items: center;
    }
    &__body {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        textarea {
            border : none;
            outline: none;
            padding: 10px 0;
            width: 100%;
            min-height: 200px;
        }
    }
    &__history {
        display: flex;
        flex-direction: column;
    }
    &__btns {
        border-top: solid 0.3px $grey;
        height: 40px;
        display: flex;
        align-items: center;
        button {
            margin-left: 5px;
        }
    }
    &__attach {
        border-bottom: solid 0.3px $grey;
        min-height: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 5px;
        padding-bottom: 5px;
        i {
            cursor: pointer;
            margin-left: 5px;
        }
    }
}
.contacts {
    &__title {
        margin-bottom: 10px;
    }
    &__category-overview {
        margin-top: 10px;
        display: flex;
        align-items: center;
        i {
            margin-right: 5px;
        }
        input[type="checkbox"] {
            margin-right: 5px;
        }
    }

}
.contacts-list{
    padding : 5px 0 0 30px;
    &__item {
        display: flex;
        align-items: center;
        input[type="checkbox"] {
            margin-right: 5px;
        }
    }
}
.patients {
    &__title {
        margin-bottom: 10px;
    }
    &__search-input {
        margin-bottom: 20px;
    }
    &__list-item {
        display: flex;
        align-items: center;
        input[type="checkbox"] {
            width:auto;
            margin-right: 5px;
        }
    }
}

@media print {
    .messages-print__btn {
        display: none !important;
    }
}

.new-template, .edit-template {
    &-err {
        padding : 10px 20px;
        font-size: 0.9rem;
        width : 100%;
        margin:0 auto;
        color : red;
        background-color:rgba(255, 0, 0, 0.403);
        border-radius: 4px;
        text-align: center;
        margin:0 auto 20px;
    }
    margin-top: 30px;
    padding : 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    &-title {
        font-size: 0.9rem;  
        width:100%;
        margin-bottom: 20px;
    }
    &-name {
        font-size: 0.9rem;  
        width:100%;
        margin-bottom: 10px;
        input {
            width: 300px;
        }
    }
    &-body {  
        width:100%;
        text-align: center;
        margin-bottom: 20px;
        textarea {
            min-height:300px;
            width: 100%; 
        }
    }
    &-btns {
        width:100%;
        text-align: center;
        button {
            margin-right: 10px;
        }
    }
}