.patient-record {
    &__topic-header {
        font-size: 0.8rem;
        display : flex;
        justify-content: space-between;
        align-items: center;
        padding : 5px;
        border-right: solid 0.5px grey;
        border-left: solid 0.5px grey;
        i {
            cursor : pointer;
        }
        &--left {
            margin-right: -1px;   
        }
        &--right {
            margin-left: -1px;
        }
    }
    &__topic-container {
        max-height: 0;
        font-size: 0.8rem;
        transition:0.3s;
        border:0px solid $black;
        background:$white;
        overflow:scroll;
        &--left {
            margin-right:-1px;
        }
        &--right {
            margin-left:-1px;
        }
        &--active {
            max-height:400px;
            border-left : solid 0.5px grey;
            border-right : solid 0.5px grey;
        }
        &--bottom {
            border-bottom : solid 0.5px grey;
        }
    }
}
.topic-content {
    display:flex;
    flex-direction: column;
    padding: 5px;
    &--demographics {
        flex-direction: row;
    }
    &__err {
        background:$red;
        padding: 10px;
        font-size: 0.8rem;
    }
    &__link {
        color: $darkblue;
        text-decoration: underline;
        cursor:pointer;
    }
    p {
        padding:2px 0;
        overflow-wrap: break-word;
        label {
            font-weight : bold;
        }
    }
    &__infos {
        width:70%;
    }
    &__avatar {
        width: 30%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__item{
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        border-bottom: solid 0.5px grey;
        width: 100%;
        padding: 5px 0;
    }
    &__overview{
        width:70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__date{
        width:30%;
        text-align: end;  
    }
    
}
        
