.prescription {
  &__actions {
    width: 90%;
    margin: 60px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    button {
      margin-right: 10px;
    }
  }
  &__form {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  &__item {
    padding: 10px 5px;
    &-textarea {
      width:100%;
      height:auto;
      white-space: pre;
    }
  }
  &__page {
    width: 21cm;
    height: 29.7cm;
    padding:40px;
  }
  &__medications {
    width: 50%;
  }
  &__container {
    width:100%;
    height:100%;
    border: solid 1px $grey;
    border-radius:4px;
    display: flex;
    flex-direction: column;
  }
  &__header {
    display: flex;
    height: 20%;
    justify-content: space-between;
  }
  &__logo {
    width: 20%;
    padding: 5px 10px;
    img {
      width: 100%;
    }
  }
  &__doctor-infos {
    font-size: 0.75rem;
    width: 50%;
    padding: 5px 10px;
    p {
      padding: 5px;
    }
  }
  &__subheader {
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__date {
    font-size: 0.8rem;
    font-weight: bold;
  }
  &__patient-infos {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px 10px;
    p {
      padding: 0;
    }
  }
  &__body {
    height: 58%;
    &-title {
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
      margin: 20px 0;
    }
    &-content {
      margin-top: 40px;
      padding: 0 20px;
      font-size: 0.8rem;
      white-space: pre;
      &-textarea {
        width:100%;
        min-height:100px;
        border:none;
        outline: none;
        font-size: 0.85rem; 
        &:focus {
          outline: none;
        }
      }
      &-final {
        width:100%;
        font-size: 0.85rem; 
        white-space: pre;
      }
    }
  }
  &__footer {
    height: 2%;
  }
  &__id {
    font-size: 0.7em;
    font-style: italic;
    text-align: end;
  }
  &__sign {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    &-image {
      img {
        height: 100%;
      }
    }
  }

}
