.welcome-section {
    margin : 10px auto 10px;
    width : 97%;
    display: flex;
    justify-content: space-between;
    h2 {
        font-weight: normal;
        font-size : 0.8rem;
    }
    div{
        font-size : 0.8rem;
        font-style: italic;
        text-align: end;
    }
}