.welcome-section {
    // margin : 10px auto 10px;
    // width : 97%;
    padding:10px 15px;
    margin-bottom: 20px;
    border: solid 0.5px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(243, 243, 243);
    &__clinic {
        font-weight: normal;
        font-size : 0.8rem;
        width:33%;
    }
    &__title {
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold;
        width:33%;
        text-align: center;
    }
    &__message{
        font-size : 0.8rem;
        font-style: italic;
        text-align: end;
        padding:0;
        width:33%;
    }
}